In [13]:
import pandas as pd
from sqlalchemy import create_engine

#### Store CSV into DataFrame

In [14]:
csv_file = "../ETL_Project/bitcoin_data.csv"
bitcoin_data_df = pd.read_csv(csv_file)
bitcoin_data_df.head()

,Timestamp,Open,High,Low,Close,Volume (BTC),Volume (Currency),Weighted Price
0,1/1/17 0:00,966.34,1005.00,960.53,997.75,6850.59,6764742.06,987.47
1,1/2/17 0:00,997.75,1032.00,990.01,1012.54,8167.38,8273576.99,1013.00
2,1/3/17 0:00,1011.44,1039.00,999.99,1035.24,9089.66,9276500.31,1020.56
3,1/4/17 0:00,1035.51,1139.89,1028.56,1114.92,21562.46,23469644.96,1088.45
4,1/5/17 0:00,1114.38,1136.72,885.41,1004.74,36018.86,36211399.53,1005.35

In [15]:
#Change column names

In [20]:
bitcoin_data_df = bitcoin_data_df.rename(columns = {"Timestamp":"Date",
                                       "Weighted Price":"Price"} )
bitcoin_data_df.drop_duplicates("Date", inplace =True)
bitcoin_data_df.head()

,Date,Open,High,Low,Close,Volume (BTC),Volume (Currency),Price
0,1/1/17 0:00,966.34,1005.00,960.53,997.75,6850.59,6764742.06,987.47
1,1/2/17 0:00,997.75,1032.00,990.01,1012.54,8167.38,8273576.99,1013.00
2,1/3/17 0:00,1011.44,1039.00,999.99,1035.24,9089.66,9276500.31,1020.56
3,1/4/17 0:00,1035.51,1139.89,1028.56,1114.92,21562.46,23469644.96,1088.45
4,1/5/17 0:00,1114.38,1136.72,885.41,1004.74,36018.86,36211399.53,1005.35